/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "PFDinTextPro-Light";
  src: url("../fonts/pfdintextpro-light.woff") format("woff"),
  url("../fonts/pfdintextpro-light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}