$body-background: #fff;
//mobile
$mobile-width: 320px;
//tablet
$tablet-width1: 400px;
$tablet-width2: 600px;
$tablet-width: 768px;
$tabletpx-width: 940px;
$tabletmin-width: 1100px;
$tabletmiddle-width: 1000px;
$tabletmax-width: 1155px;
//desktop
$desktop-width: 1200px;
$desktopmin-width: 1345px;
$mobile-width-only: 299px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
